@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";

*
  box-sizing: border-box

html,body
  height: 100%
  margin: 0px
  padding: 0px

.page-content
  height: 100%
  margin: auto
  width: 992px

.content-align
  float: left

.menu-align
  margin-top: 40px
  padding: 20px
  width: 100px
  text-align: center

.logo-style-main
  height: 50px
  margin-bottom: 80px

.logo-style-small
  height: 30px
  margin-bottom: 100px

.main-content
  padding-top: 20px
  width: 792px
  height: 100%
  background-color: $gray
  border-left: 1px solid $border
  border-right: 1px solid $border

h1
  color: $text
  font-size: 42px
  font-weight: normal
  text-align: left
  margin-left: 40px
  margin-bottom: 70px

.game-data
  height: 250px
  padding: 30px 30px
  background-color: $white
  border-top: 1px solid $border
  border-bottom: 1px solid $border

.team1, .team2
  color: $text
  font-size: 30px
  top: 90px

.items-position
  position: relative
  transform: translate(-50%, -50%)

.goal1, .goal2
  font-size: 150px
  margin-right: 10px

.team1::first-letter, .goal1
    color: $blue

.team1
  left: 120px;

.team2::first-letter, .goal2
    color: $red

.team2
  left: 200px;

.timer-dots
  color: $lighttext
  font-size: 150px
  margin-right: 10px

.counter
  left: 450px;
