.main-nav
  margin-top: 70px
  padding: 20px
  width: 100px
  text-align: center
  float: left

  &__item
    display: block
    height: 50px
    margin-bottom: 80px

    &--game
      background: url('../img/football-field-in-perspective.png') 50% 50% no-repeat
      background-size: contain

      &:hover
        background: url('../img/football-field-in-perspective-green.png') 50% 50% no-repeat
        background-size: contain

    &--team
      background: url('../img/soccer-t-shirt.png') 50% 50% no-repeat
      background-size: contain

      &:hover
        background: url('../img/soccer-t-shirt-green.png') 50% 50% no-repeat
        background-size: contain

    &--statistic
      background: url('../img/trophy-football-cup.png') 50% 50% no-repeat
      background-size: contain

      &:hover
        background: url('../img/trophy-football-cup-green.png') 50% 50% no-repeat
        background-size: contain
