.team-card
  padding: 10px
  border: 2px solid $border
  border-radius: 5px
  margin-bottom: 25px
  position: relative
  cursor: pointer

  &:hover
    border: 2px solid $lighttext-bg

  &--selectable
    &:hover
      border: 2px solid $lighttext-bg
      box-shadow: 3px 3px 5px rgba(0,0,0,.3)

    &:active
      box-shadow: none
      top: 2px

  &--disable
    opacity: 0.5
    cursor: default

    &:hover
      border: 2px solid $border
      box-shadow: none

  &__link
    text-decoration: none
    color: $text
    display: block

  &__team-name
    margin-top: 0

    &--blue
      &::first-letter
        color: $blue

    &--red
      &::first-letter
        color: $red

  &__player-field
    margin-bottom: 0
    font-weight: bold

  &__player-name
    font-style: italic

  &__edit
    position: absolute
    bottom: -10px
    right: -10px
    font-size: 0
    border: 2px solid $lighttext-bg
    border-radius: 50%
    outline: 0
    width: 25px
    height: 25px
    background: url('../img/edit-btn-sprite.png') no-repeat $white
    background-position: -6px -6px
    background-size: 34px
    visibility: hidden

  &__delete
    position: absolute
    top: -10px
    right: -10px
    font-size: 0
    border: 2px solid $lighttext-bg
    border-radius: 50%
    outline: 0
    width: 25px
    height: 25px
    background-color: $white
    visibility: hidden

    &::before
      transform: rotate(45deg)
      content: ''
      position: absolute
      top: 9px
      right: 2px
      width: 17px
      height: 3px
      border-radius: 3px
      background-color: $lighttext-bg

    &::after
      transform: rotate(-45deg)
      content: ''
      position: absolute
      top: 9px
      right: 2px
      width: 17px
      height: 3px
      border-radius: 3px
      background-color: $lighttext-bg

.team-card:hover .team-card__delete,
.team-card:hover .team-card__edit
  visibility: visible
  cursor: pointer

  &:hover
   border: 2px solid $text
   background-color: $gray

   &::before
      background-color: $text

   &::after
      background-color: $text

.team-card:hover .team-card__edit:hover
  background: url('../img/edit-btn-sprite.png') no-repeat $gray
  background-position: -6px -40px
  background-size: 34px
